.Img{
    width: 100%;
}
.one{
    border-left: green 2px solid;
    width: 50%;
    font-family: 'Yaldevi', sans-serif;
    color:#1f1f1f;
}
.two{
    padding-left:15px ;
    word-wrap: break-word;
    width: 100%;
}
.three{
    display: flex;
    justify-content: space-between;
}